* {box-sizing:border-box;}

html{height:100%;font-family: sans-serif;margin:0;font-size:100%;color:#000;}

body {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: stretch;
align-items: flex-start;
min-height: 100vh;
margin: 0;
}

h1,h2,h3,h4{line-height:1;margin:0;align-self: stretch;width:100%;}a{cursor:pointer;}h3 {font-size:1.3em;font-weight: 500;}

aside, main{margin: 0;align-self: stretch;}

aside {
display: flex;
background: #FFF;
flex: 1 1 25%;
max-width:264px;
padding: 0;
border-right: 1px solid #ECECEC;
box-shadow: 0px 4px 4px 0px #00000029;
}

main {
display: flex;
flex: 3 1 75%;
margin: 0;
background: #F5F5F5;
flex-direction: column;
}


/* Navigation */
nav {
position:fixed;
display: flex;
flex-direction: column;
justify-content: flex-start;
top: 0;
left: 0;
width: 100%;
max-width: 256px;
height: 100%;
padding:64px 24px 0 0;
margin: 0;
} 

nav a {
display: flex;
flex-direction: row;
justify-content: flex-start;
color: #444;
font-weight: 700;
padding: 16px 0 16px 24px;
margin: 0 16px 8px 0;
font-size: .88em;
text-align: left;
text-decoration: none;
align-items: center;
}

span.nav-icon{content: url("img/mdi_inbox.svg");margin-right:8px;}

#selected{color:#000;background-color:#FAB600;border-radius: 0 50px 50px 0;}

.menu-open,.menu-close, #menu-toggle {display: none;width: 0px;}

.wrap-aside {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
align-items: center;
justify-content: space-around;
width: 100%;
padding: 0 16px 16px;
}

.wrap {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
align-items: center;
justify-content: space-around;
width: 100%;
padding: 0 16px 16px;
}

.wrap-aside {
justify-content: flex-start;
height:64px;
background: transparent;
box-shadow: none;
position:fixed;
width: 100%;
margin:0;
padding:16px 24px;
z-index:1;
}

.list-card {
display: flex;
flex-direction: row;
justify-content: flex-start;
width: calc(100% + 32px);
align-items: center;
border-top: 1px solid #ECECEC;
border-bottom: 1px solid #ECECEC;
padding: 24px 0 24px 24px;
margin: 0 0 32px 0;
}

.list-card-user {
display: flex;
flex-direction: column;
justify-content: space-between;
padding-left: 16px;
line-height:24px;
}

.name,.role{margin:0;}
span.name{font-size:1.1em;}
span.role{font-size:.88em;}

.box-head{
display: flex;
flex-direction: row;
justify-content: flex-start;
padding: 0 24px;
margin: 0;
line-height: 48px;
border-radius: 4px 4px 0 0;
align-content: space-between;
align-items: center;
}

.color-head{background: #FAB600;}

.light-head{
background: transparent;
border-bottom: 1px solid #ECECEC;
color: #333; 
}

.light-head svg{fill: #0077fa;}


.box-head span{font-size: .88em;font-weight:600;margin:0; padding: 0 16px 0 16px;}


.widget-box{
display: flex;
flex-direction: column;
border-radius: 4px;
background:#FFF;
box-shadow: 0px 2px 3px 0 rgb(66 66 66 / 16%);
min-height: 240px;
}

.box-content{
display: flex;
flex-direction: column;
padding: 16px 24px;
margin: 0;
align-content: space-between;
}

.list-data{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
border-bottom: 1px solid #ECECEC;
padding: 8px 0;
line-height: 40px;
flex-wrap: nowrap;
align-content: center;
align-items: baseline;
font-size: .96em;
}

.list-data:last-child {border-bottom: none;}

.box-50,.inner-50{width: calc(50% - 32px);align-self: stretch;margin: 0 0 32px;}
.inner-100{width: calc(100% - 32px);align-self: stretch;margin: 32px 0 48px 0;}.box-100{width: calc(100% - 16px);}




@media not screen and (max-width: 1440px){body {justify-content: flex-start;}}

@media not screen and (max-width: 960px) {
header {
display: flex;
background: #FFF;
max-height: 64px;
min-height: 64px;
width: 100%;
box-shadow: 0px 0px 2px 0 rgb(66 66 66 / 24%);
}
a:hover {transition:all .3s;} 
nav a:hover{color: #000;background-color: #FEF3D6; border-radius: 0 50px 50px 0;}
button:hover, a.btn-fw:hover, a.btn:hover {transition:all .3s;background:#039;color: #FFF;}.elevated-card:hover {box-shadow: 0 16px 32px -16px rgba(0,0,0,0.72);}}

@media(max-width: 1136px) {
.list-card {width: calc(100% + 24px);}
.box-50{width: calc(100% - 16px)}
}

@media(max-width: 960px) {
body{flex-direction: column;}
.wrap-aside {height:48px;background: #FFF;box-shadow: 0 2px 4px 0px rgb(0 0 0 / 8%);justify-content: space-between;margin:0; padding: 16px 24px;}
header {height:48px}


a.logo img {
text-align: center;
width: 64px;
height: auto;
}
/* Navigation */
nav {
padding-top:0;
background: #FFF;
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
transition: 0.3s;
}

.menu-open {
background: url("icons/menu-open-icon-24px.svg")no-repeat center;
display: block;
cursor: pointer;
width: 24px;
height: 24px;
}

.menu-close {
display: none;
}

#menu-toggle:checked ~ .menu-open {
display: none;
}

#menu-toggle:checked ~ .menu-close {
background: url("icons/menu-close-icon-24px.svg")no-repeat center;
display: block;
cursor: pointer;
width: 24px;
height: 24px;
z-index:1000;
}

.overlay {
display: none;
}

#menu-toggle:checked ~ .overlay {
display: block;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, .72);
}

nav a {
line-height: 1.6;
text-align: left;
}

#menu-toggle:checked ~ nav {
-webkit-transform: translateX(0);
transform: translateX(0);
list-style: none;
}

.box-100,.inner-100,.box-50,.inner-50{width: calc(100% - 16px)}
}

@media(max-width: 800px) {
aside, main{
flex: 1 1 auto;
width:100%;
max-width: 100%;}

}